@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;500&display=swap');
html {
    scroll-behavior: smooth;
  }
*{
    margin: 0;
    padding: 0;
}
.contact-btn{
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
::-moz-selection { 
    color: white;
    background: #FF0066;
}
::selection {
    color: white;
    background: #FF0066;
}
header{   
    width: 100%;
    margin-bottom: 10vh;
}
.logo{
    width: 100px;
    position: absolute;
    top: 3vh; left: 5vw;
}
section{
    width: 70%;
    margin: auto;
}
section h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 40px;
    text-align: center;
}
h1 span{
    color: #FF0066;
}
section p{
    opacity: 0.5;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    letter-spacing: 5px;
    font-size: 20px;
    text-align: center;
}
.container{
    display: flex;
    width: 100%;
    margin-top: 5vh;
    justify-content: space-around;
    flex-flow: wrap;
    flex-direction: row;
    margin-bottom: 5vh;
}
.container img{
    width: 30%;
}
.container img:hover{
    transform: scale(1.3);
    transition: 0.5s ease;
}
pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
    border-bottom: 5px solid #FF0066;
  }
.copy{
    opacity: 1;
    display: table;
    margin: auto;
    border: solid 2px black;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
}
footer svg{
    display: block;
}
  @media only screen and (max-width: 768px) {
header{
    margin-bottom: 15vh;
}
.logo{
    width: 80px;
    position: absolute;
    top: 3vh; left: 5vw;
}
section{
    width: 90%;
    margin: auto;
}
section h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 24px;
    text-align: center;
}
h1 span{
    color: #FF0066;
}
section p{
    opacity: 0.5;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    letter-spacing: 5px;
    font-size: 13px;
    text-align: center;
}
.container{
    display: flex;
    width: 100%;
    margin-top: 5vh;
    justify-content: space-around;
    flex-flow: wrap;
    flex-direction: column;
    margin-bottom: 5vh;
}
.container img{
    width: 100%;
    margin-bottom: 10px;
}
.container img:hover{
    transform: scale(1);
}
pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    border-bottom: 5px solid #FF0066;
  }
  pre {
    white-space: pre-wrap; //css3
    white-space: moz-pre-wrap; //firefox
    white-space: -pre-wrap; //opera 4-6
    white-space: -o-pre-wrap; //opera 7
    word-wrap: break-word; //internet explorer
}

}
